# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# Mac system files
.DS_Store

# Env files
.env
.env.*

# Compiled Python
*.so
*.pyd

# Logs and data cache
*.log
*.db
*.sqlite
*.json

# Ignore backup zips
*.zip
